<section class="about" id="about">
  <div class="about__top" data-aos="fade-up">
    <h2 class="about__title">
      About
    </h2>
  </div>
  <div class="about__left" data-aos="fade-up">
    <div class="about__image">
      <div class="about__image__img">
        <img src="assets/img/me-512.jpg" alt="Image of Taylor Buckner">
      </div>
    </div>
  </div>
  <div class="about__right">
    <div class="mat-body about__bio">
      <p data-aos="fade-up" *ngFor="let item of aboutItems">{{ item }}</p>
    </div>
  </div>
</section>
